.catalog-container {
    float: right;
    padding: 50px 50px 50px 50px;
    position: relative;
}

.catalog-item-name {

    font-weight: 500;

}

.catalog-item-container {
    background-color: cyan; 
    padding: 15px 100px 15px 100px;
}

.catalog-item-image {

    width: 10%;
    
}