{% extends "base.html" %}


{% block page_content %}
<div class="catalog-container">
    <div class="catalog-item-container">   
    
        <img class="catalog-item-image"
        src="{{ url_for('static', filename = 'images/catalog/tom-wooden-bookcase-1.png') }}" 
        alt="Example picture for bookcase category">
        
        <p class="catalog-item-name">Bookcase</p>

    </div>
    <div class="catalog-item-container">
    
        <img class="catalog-item-image"
        src="{{ url_for('static', filename = 'images/catalog/file-cabinet.png') }}"
        alt="Example picture for storage category">
        
        <p class="catalog-item-name">Storage</p>
    </div>
</div>
{% endblock %}

