{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="">
    <h2 class="">Connect and Contact</h2>
    <ul>
      <li><a class="" a href="mailto:jasondixonmail@gmail.com" target="_blank">jasondixonmail@gmail.com</a></li>
      <li><a class="" href="https://github.com/jasondixon5" target="_blank">GitHub</a></li>
      <li><a class="" href="https://www.linkedin.com/in/jasonanthonydixon/" target="_blank">LinkedIn</a></li>
      <li><a class="" href="https://twitter.com/noprettypicts" target="_blank">Twitter</a></li>
      <li><a class="" href="Jason_Dixon_Resume.pdf" target="_blank">Resume (PDF)</a></li>
    </ul>
{% endblock %}
